
body{
    background-image: linear-gradient( black, rgb(55, 50, 50)) ;
    height: auto;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}
#masterDiv{
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
   

}
#drumKitDiv, #BMICalculatorDiv, #LeapYearCalculatorDiv, #loveCalculatorDiv, #fizzBuzzDiv, #fibonacciDiv, #theDiceGameDiv{
    background-color: rgb(169, 163, 239);
    min-height: 310px;
    width: 400px;
    padding: 1rem;
    margin: 5px;
    border: 1px white solid;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    

}
#drumKitDiv:hover, #theDiceGameDiv:hover, #BMICalculatorDiv:hover, #LeapYearCalculatorDiv:hover, #loveCalculatorDiv:hover, #fibonacciDiv:hover, #fizzBuzzDiv:hover{
    transform: scale(1.02);
    box-shadow: 5px 5px 5   px 5px rgba(whitesmoke, white);
    
}
#drumKitDiv{
    background-color: rgb(182, 95, 225);
    text-decoration: none;
}
#theDiceGameDiv{
    background-color: black;
    color: bisque;
    
}
#theDiceGamePlayersDiv{
    width: 60%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}
#LeapYearCalculatorDiv{
    background-color: rgb(233, 111, 242);

}
#loveCalculatorDiv{
    background-color: pink;

    
}
#fizzBuzzDiv{
    background-color: rgb(173, 206, 123);
}
#fibonacciDiv{
    background-color: bisque;
}

.inputLabel{
    padding: 10px 5px;
    margin: 10px 5px;
    border-radius: 5px;
    border: none;
}
button{
    background-color: transparent;
    color: black;
    font-size: 14px;
    border: 2px solid black;
    border-width: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    
}

button:hover{
    box-shadow: 10px;
}
p{
    color: black;
    font-size: 17px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    font-weight:bold;
}

h4{
    font-weight: large;
}
#fizzBuzzresultsDiv{
    width: 90%;
    display: flex;
    flex-wrap: wrap; 

}
img{
    width: 80px;
}
#diceResetButton{
    padding-top: 20px;
    color: bisque;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
}
.drum {
    outline: none;
    border: 5px solid #404B69;
    font-size: 2rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 400;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 10px;
    background-color: white;
  }
 .tiles{
    width: 100px;
    height: 100px;
    
 }
 #BBlue{
    background-color: blue;
 }
 #BGreen{
  background-color: green;  
 }
 #BYellow{
    background-color: yellow;
 }
 #BRed{
    background-color: red;
 }
   .pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }
  .w {
    background-image:  url('DrumImages/tom1.png');
    
  }
  
  .a {
    background-image: url('DrumImages/tom2.png');
  }
  
  .s {
    background-image: url('DrumImages/tom3.png');
  }
  
  .d {
    background-image: url('DrumImages/tom4.png');
  }
  
  .j {
    background-image: url('DrumImages/snare.png');
  }
  
  .k {
    background-image: url('DrumImages/crash.png');
  }
  
  .l {
    background-image: url('DrumImages/kick.png');
  }
  #copyrights{
    margin-top: 50px;
    text-align: center;
    color: bisque;
  }

